@inherits LayoutComponentBase
@inject NavigationManager navigationManager
@inject AppState appState

<MatDrawerContainer Style="width: 100vw; height: 100vh" Class="@bbDrawerClass">
    @if (IsAdminOrCoordinator) 
    {
        <MatDrawer Opened="true">
            <header class="drawer-header">
                <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
                <div class="drawer-logo" style="background-color: rgba(0, 0, 0, 0.09);">
                    <a href="/">
                        <img alt="Worklab" class="logo-img" src="_content/BlazorBoilerplate.CommonUI/images/logo-work-dark.png" title="Worklab">
                    </a>
                </div>
            </header>
            <NavMenu />
        </MatDrawer>
    }
    <MatDrawerContent>
        <MatAppBarContainer>
            <MatAppBar Fixed="true" Style="background-color: #F8F9FA; border-bottom: 1px solid #D6D5D5; font-family: 'Segoe UI Emoji'">
                <MatAppBarRow>
                    <MatAppBarSection>
                        @if (!IsAdminOrCoordinator)
                        {
                            <MatAppBarTitle Style="padding-left: 100px">
                                <div>
                                    <a href="/">
                                        <img alt="Worklab" class="logo-img" src="_content/BlazorBoilerplate.CommonUI/images/logo-work.png" title="Worklab">
                                    </a>
                                </div>
                            </MatAppBarTitle>
                        }
                    </MatAppBarSection>
                    <MatAppBarSection Align="@MatAppBarSectionAlign.End" Style="padding-right: 100px;">
                        <input type="checkbox" id="chk">
                        <label for="chk" class="show-menu-btn">
                            <i class="material-icons">Меню</i>
                        </label>
                        <div class="menu">
                            <div class="links">
                                <a href="/" class="menu__link">Главная</a>
                                <a href="/program_list" class="menu__link">Программы</a>
                                <AuthorizeView Context="AuthorizeContext">
                                    <Authorized>
                                        <Login></Login>
                                    </Authorized>
                                    <NotAuthorized>
                                        <a href="/about-us" class="menu__link">О нас</a>
                                        <MatButton Link="/account/login"
                                                   Style="background-color: #4F94C1; color: snow; border-radius: 5px">
                                            Войти
                                        </MatButton>
                                    </NotAuthorized>
                                </AuthorizeView>
                            </div>
                            <label for="chk" class="hide-menu-btn">
                                <i class="material-icons close" style="color: white">Закрыть</i>
                            </label>
                        </div>
                    </MatAppBarSection>
                </MatAppBarRow>
            </MatAppBar>
            <MatAppBarContent>
                <section>
                    @Body
                </section>
                <footer class="site-footer">
                    <div class="container">
                        <div class="row" style="color: black; font-family: sans-serif;">
                            <div class="col-sm-12 col-md-6">
                                <h6 style="color: black; font-family: sans-serif; text-shadow: 2px 2px 20px black;">Партнеры</h6>
                                <p class="text-justify">Scanfcode.com <i>CODE WANTS TO BE SIMPLE </i> is an initiative  to help the upcoming programmers with the code. Scanfcode focuses on providing the most efficient code or snippets as the code wants to be simple. We will help programmers build up concepts in different programming languages that include C, C++, Java, HTML, CSS, Bootstrap, JavaScript, PHP, Android, SQL and Algorithm.</p>
                            </div>

                            <div class="col-xs-6 col-md-3">
                                <h6 style="color: black; font-family: sans-serif; text-shadow: 2px 2px 20px black;">Worklab</h6>
                                <ul class="footer-links">
                                    <li><a href="/about-project">О проекте</a></li>
                                    <li><a href="/team">Участники</a></li>
                                    <li><a href="/help">Помощь</a></li>
                                </ul>
                            </div>

                            <div class="col-xs-6 col-md-3">
                                <h6 style="color: black; font-family: sans-serif; text-shadow: 2px 2px 20px black;">Быстрые ссылки</h6>
                                <ul class="footer-links">
                                    <li><a href="/about-us">О нас</a></li>
                                    <li><a href="/contacts">Контакты</a></li>
                                    <li><a href="/help-us">Помочь</a></li>
                                </ul>
                            </div>
                        </div>
                        <hr>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col-md-8 col-sm-6 col-xs-12">
                                <p class="copyright-text" style="font-family: sans-serif; text-shadow: 2px 2px 20px black;">
                                    &copy; YLSP Team, все права защищены
                                </p>
                            </div>

                            <div class="col-md-4 col-sm-6 col-xs-12">
                                <ul class="social-icons">
                                    <li><a class="facebook" target="_blank" href="https://www.facebook.com/ylsp.2020/"><i class="fa fa-facebook"></i></a></li>
                                    <li><a class="dribbble" target="_blank" href="https://www.instagram.com/ylsp_kg/"><i class="fa fa-instagram"></i></a></li>
                                    <li><a class="linkedin" target="_blank" href="#"><i class="fa fa-telegram"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </footer>
                @*<footer class="page-footer row">
                    <h3 class="my-subtitle-2" style="color:black;  display: inline-block; position: relative; font-family: cursive; text-shadow: 2px 2px 20px black;">Worklab</h3><br />
                    <h3 class="my-subtitle-2" style="color:black;  display: inline-block; position: relative; font-family: cursive; text-shadow: 2px 2px 20px black;">Ещё</h3><br />
                    <hr class="solid">
                    <MatDivider />
                    <div class="my-subtitle-2">
                        <MatTooltip Tooltip="Узнайте больше о проекте" Position="@MatTooltipPosition.Right">
                            <MatButton Style="color: black;"
                                       RefBack="@context"
                                       Link="/help">
                                О проекте
                            </MatButton>
                        </MatTooltip><br />
                        <MatTooltip Tooltip="Наше руководство" Position="@MatTooltipPosition.Right">
                            <MatButton Style="color: black;"
                                       RefBack="@context"
                                       Link="/help">
                                Руководство
                            </MatButton>
                        </MatTooltip><br />
                        <MatTooltip Tooltip="Нужно помощь?" Position="@MatTooltipPosition.Right">
                            <MatButton Style="color: black;"
                                       RefBack="@context"
                                       Link="/help">
                                Помощь
                            </MatButton>
                        </MatTooltip><br />
                    </div>
                    <div class="my-subtitle-2">
                        <MatTooltip Tooltip="О нас" Position="@MatTooltipPosition.Right">
                            <MatButton Style="color: black;"
                                       RefBack="@context"
                                       Link="/about-us">
                                О нас
                            </MatButton>
                        </MatTooltip><br />
                        <MatTooltip Tooltip="Контакты" Position="@MatTooltipPosition.Right">
                            <MatButton Style="color: black;"
                                       RefBack="@context"
                                       Link="/contacts">
                                Контакты
                            </MatButton>
                        </MatTooltip><br />
                    </div>
                    <hr class="solid">
                    <MatDivider />
                    <div class="flex-1">
                        © YLSP Team, все права защищены
                    </div>
                    <div class="flex-2">
                        <MatTooltip Tooltip="Следите за нами в инстаграме" Position="@MatTooltipPosition.Top">
                            <a href="https://www.instagram.com/ylsp_kg/" target="_blank" style="text-decoration: none">
                                <MatButton RefBack="@context">
                                    <i class="fa fa-instagram" style="font-size: 18px;  color: #535353;"></i>
                                </MatButton>
                            </a>
                        </MatTooltip>
                        <MatTooltip Tooltip="Следите за нами в Facebook" Position="@MatTooltipPosition.Top">
                            <a href="https://www.facebook.com/ylsp.2020/" target="_blank" style="text-decoration: none">
                                <MatButton RefBack="@context">
                                    <i class="fa fa-facebook" style="font-size: 18px;  color: #535353;"></i>
                                </MatButton>
                            </a>
                        </MatTooltip>
                        <MatTooltip Tooltip="Следите за нами в Telegram" Position="@MatTooltipPosition.Top">
                            <a href="#" target="_blank" style="text-decoration: none">
                                <MatButton RefBack="@context">
                                    <i class="fa fa-telegram" style="font-size: 18px;  color: #535353;"></i>
                                </MatButton>
                            </a>
                        </MatTooltip>
                    </div>
                </footer>*@
            </MatAppBarContent>
        </MatAppBarContainer>
    </MatDrawerContent>
</MatDrawerContainer>

@code {
    private bool IsAuthenticated = false;
    private bool IsAdminOrCoordinator = false;
    public string bbDrawerClass = "";


    private void CallLogin()
    {
        var returnUrl =
              navigationManager.ToBaseRelativePath(navigationManager.Uri);
        navigationManager.NavigateTo($"/account/Login/{returnUrl}", forceLoad: false);
    }
    [CascadingParameter]
    Task<AuthenticationState> authenticationStateTask { get; set; }

    protected override async Task OnInitializedAsync()
    {
        // Uncomment to secure entire app  with no anonymous user access
        //navigationManager.NavigateTo("/account/login");

        // Set Default landing page if you want for anonymous user.
        // Authenticated users are redirected after successful login.
        //navigationManager.NavigateTo("/");

        var user = (await authenticationStateTask).User;

        if (user.Identity.IsAuthenticated)
        {
            var profile = await appState.GetUserProfile();
            IsAuthenticated = true;
            IsAdminOrCoordinator = user.IsInRole("Administrator") || user.IsInRole("Coordinator") ? true : false;
        }
    }
}
