@inherits LayoutComponentBase
@inject NavigationManager navigationManager
@inject AppState appState

<MatDrawerContainer Style="width: 100vw; height: 100vh" Class="@bbDrawerClass">
    @if (IsAdminOrCoordinator) 
    {
    <MatDrawer @bind-Opened="@_navMenuOpened">
        <header class="drawer-header">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
            <div class="drawer-logo" style="background-color: rgba(0, 0, 0, 0.09);">
                <a href="/">
                    <img alt="Worklab" class="logo-img" src="_content/BlazorBoilerplate.CommonUI/images/logo-work-dark.png" title="Worklab">
                </a>
            </div>
        </header>
        <NavMenu />
    </MatDrawer>
    }
    <MatDrawerContent>
        <MatAppBarContainer>
            <MatAppBar Fixed="true" Style="background-color: #F8F9FA; border-bottom: 1px solid #D6D5D5">
                <MatAppBarRow>
                    <MatAppBarSection>
                        @if (!IsAdminOrCoordinator)
                        {
                            <MatAppBarTitle>
                                <div>
                                    <a href="/">
                                        <img alt="Worklab" class="logo-img" src="_content/BlazorBoilerplate.CommonUI/images/logo-work.png" title="Worklab">
                                    </a>
                                </div>
                            </MatAppBarTitle>
                        }
                        else
                        {
                            <div class="hidden-mdc-down">
                                <MatTooltip Tooltip="Скрыть панель">
                                    <MatIconButton Class="navToggle" Icon="menu" ToggleIcon="menu" OnClick="@((e) => NavToggle())" RefBack="@context"></MatIconButton>
                                </MatTooltip>
                                <MatTooltip Tooltip="Уменьшить панель">
                                    <MatIconButton Class="navToggle" Icon="format_indent_decrease" ToggleIcon="format_indent_increase" OnClick="@((e) => NavMinify())" RefBack="@context"></MatIconButton>
                                </MatTooltip>
                            </div>
                        }
                    </MatAppBarSection>
                    <MatAppBarSection Align="@MatAppBarSectionAlign.End">
                        <MatTooltip Tooltip="Перейти на главную страницу">
                            <MatButton Icon="home"
                                       Style="border-left-color: #474b62"
                                       RefBack="@context"
                                       Label="Главная"
                                       Link="/">
                            </MatButton>
                        </MatTooltip>
                        <MatTooltip Tooltip="Программы">
                            <MatButton Icon="widgets"
                                       Style="border-left-color: #474b62"
                                       RefBack="@context"
                                       Label="Программы"
                                       Link="/programs">
                            </MatButton>
                        </MatTooltip>
                        <AuthorizeView Context="AuthorizeContext">
                            <Authorized>
                                <Login></Login>
                            </Authorized>
                            <NotAuthorized>
                                <MatTooltip Tooltip="Войти">
                                    <MatButton Icon="exit_to_app"
                                               Label="Войти"
                                               RefBack="@context"
                                               Link="/account/login">
                                    </MatButton>
                                </MatTooltip>
                            </NotAuthorized>
                        </AuthorizeView>
                    </MatAppBarSection>
                </MatAppBarRow>
            </MatAppBar>
            <MatAppBarContent>
                <section>
                    @Body
                </section>
                <footer class="page-footer">
                    <div class="flex-1">
                        <MatTooltip Tooltip="Следите за нами в инстаграме" Position="@MatTooltipPosition.Top">
                            <a href="https://www.instagram.com/ylsp_kg/" target="_blank" style="text-decoration: none">
                                <MatButton RefBack="@context">
                                    <i class="fa fa-instagram"></i>
                                </MatButton>
                            </a>
                        </MatTooltip>
                        <MatTooltip Tooltip="Следите за нами в Facebook" Position="@MatTooltipPosition.Top">
                            <a href="https://www.facebook.com/ylsp.2020/" target="_blank" style="text-decoration: none">
                                <MatButton RefBack="@context">
                                    <i class="fa fa-facebook"></i>
                                </MatButton>
                            </a>
                        </MatTooltip>
                        <MatTooltip Tooltip="О нас" Position="@MatTooltipPosition.Top">
                            <MatButton Icon="info"
                                       Style="border-left-color: #474b62"
                                       RefBack="@context"
                                       Link="/about-us">
                            </MatButton>
                        </MatTooltip>
                        <MatTooltip Tooltip="Контакты" Position="@MatTooltipPosition.Top">
                            <MatButton Icon="contact_support"
                                       Style="border-left-color: #474b62"
                                       RefBack="@context"
                                       Link="/contacts">
                            </MatButton>
                        </MatTooltip>
                    </div>
                    <div class="flex-1">
                        © 2020 Made by YLSP
                    </div>
                </footer>
            </MatAppBarContent>
        </MatAppBarContainer>
    </MatDrawerContent>
</MatDrawerContainer>

@code {
    bool _navMenuOpened = false;
    bool _navMinified = false;
    private bool IsAuthenticated = false;
    private bool IsAdminOrCoordinator = false;
    public string bbDrawerClass = "";


    private void CallLogin()
    {
        var returnUrl =
              navigationManager.ToBaseRelativePath(navigationManager.Uri);
        navigationManager.NavigateTo($"/account/Login/{returnUrl}", forceLoad: false);
    }
    [CascadingParameter]
    Task<AuthenticationState> authenticationStateTask { get; set; }

    protected override async Task OnInitializedAsync()
    {
        // Uncomment to secure entire app  with no anonymous user access
        //navigationManager.NavigateTo("/account/login");

        // Set Default landing page if you want for anonymous user.
        // Authenticated users are redirected after successful login.
        //navigationManager.NavigateTo("/");

        var user = (await authenticationStateTask).User;

        if (user.Identity.IsAuthenticated)
        {
            var profile = await appState.GetUserProfile();
            _navMenuOpened = profile.IsNavOpen;
            _navMinified = profile.IsNavMinified;
            IsAuthenticated = true;
            IsAdminOrCoordinator = user.IsInRole("Administrator") || user.IsInRole("Coordinator") ? true : false;
        }
    }

    void NavToggle()
    {
        _navMenuOpened = !_navMenuOpened;
        if (_navMenuOpened)
        {
            bbDrawerClass = "full";
        }
        else
        {
            bbDrawerClass = "closed";
        }

        this.StateHasChanged();
    }

    void NavLock()
    {
        //Todo Lock Nav
    }

    void NavMinify()
    {
        _navMinified = !_navMinified;

        if (!_navMenuOpened)
        {
            _navMinified = true;
        }

        if (_navMinified)
        {
            bbDrawerClass = "mini";
            _navMenuOpened = true;
        }
        else if (_navMenuOpened)
        {
            bbDrawerClass = "full";
        }

        _navMenuOpened = true;
        this.StateHasChanged();
    }
}
