@inherits LayoutComponentBase
@inject NavigationManager navigationManager
@inject AppState appState

<MatDrawerContainer Style="width: 100vw; height: 100vh" Class="@bbDrawerClass">
    @if (IsAdminOrCoordinator) 
    {
        <MatDrawer Opened="true">
            <header class="drawer-header">
                <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
                <div class="drawer-logo" style="background-color: rgba(0, 0, 0, 0.09);">
                    <a href="/">
                        <img alt="Worklab" class="logo-img" src="_content/BlazorBoilerplate.CommonUI/images/logo-work-dark.png" title="Worklab">
                    </a>
                </div>
            </header>
            <NavMenu />
        </MatDrawer>
    }
    <MatDrawerContent>
        <MatAppBarContainer>
            <MatAppBar Fixed="true" Style="background-color: #F8F9FA; border-bottom: 1px solid #D6D5D5">
                <MatAppBarRow>
                    <MatAppBarSection>
                        @if (!IsAdminOrCoordinator)
                        {
                            <MatAppBarTitle Style="padding-left: 100px">
                                <div>
                                    <a href="/">
                                        <img alt="Worklab" class="logo-img" src="_content/BlazorBoilerplate.CommonUI/images/logo-work.png" title="Worklab">
                                    </a>
                                </div>
                            </MatAppBarTitle>
                        }
                    </MatAppBarSection>
                    <MatAppBarSection Align="@MatAppBarSectionAlign.End" Style="padding-right: 100px;">
                        <Menu Mode=MenuMode.Horizontal Style="font-family: 'Segoe UI Emoji'">
                            <MenuItem>
                                <MenuLink Href="/">
                                    Главная
                                </MenuLink>
                            </MenuItem>
                            <Divider Type="vertical" Style="font-size: 25px;" />
                            <MenuItem>
                                <MenuLink Href="/programs">
                                    Программы
                                </MenuLink>
                            </MenuItem>
                            <Divider Type="vertical" Style="font-size: 25px;" />
                            <AuthorizeView Context="AuthorizeContext">
                                <Authorized>
                                    <Login></Login>
                                </Authorized>
                                <NotAuthorized>
                                    <MenuItem>
                                        <Button Style="background-color: #4F94C1;">
                                            <MenuLink Style="color: snow; border-radius: 5px"
                                                      Href="/account/login">
                                                Войти
                                            </MenuLink>
                                        </Button>
                                    </MenuItem>
                                </NotAuthorized>
                            </AuthorizeView>
                        </Menu>
                    </MatAppBarSection>
                </MatAppBarRow>
            </MatAppBar>
            <MatAppBarContent>
                <section>
                    @Body
                </section>
                <footer class="page-footer row">
                    <h3 class="my-subtitle-2" style="color:black;  display: inline-block; position: relative; font-family: cursive; text-shadow: 2px 2px 20px black;">Worklab</h3><br />
                    <h3 class="my-subtitle-2" style="color:black;  display: inline-block; position: relative; font-family: cursive; text-shadow: 2px 2px 20px black;">Ещё</h3><br />
                    <Divider />
                    <div class="my-subtitle-2">
                        <MatTooltip Tooltip="Узнайте больше о проекте" Position="@MatTooltipPosition.Right">
                            <MatButton Style="color: black;"
                                       RefBack="@context"
                                       Link="/help">
                                О проекте
                            </MatButton>
                        </MatTooltip><br />
                        <MatTooltip Tooltip="Наше руководство" Position="@MatTooltipPosition.Right">
                            <MatButton Style="color: black;"
                                       RefBack="@context"
                                       Link="/help">
                                Руководство
                            </MatButton>
                        </MatTooltip><br />
                        <MatTooltip Tooltip="Нужно помощь?" Position="@MatTooltipPosition.Right">
                            <MatButton Style="color: black;"
                                       RefBack="@context"
                                       Link="/help">
                                Помощь
                            </MatButton>
                        </MatTooltip><br />
                    </div>
                    <div class="my-subtitle-2">
                        <MatTooltip Tooltip="О нас" Position="@MatTooltipPosition.Right">
                            <MatButton Style="color: black;"
                                       RefBack="@context"
                                       Link="/about-us">
                                О нас
                            </MatButton>
                        </MatTooltip><br />
                        <MatTooltip Tooltip="Контакты" Position="@MatTooltipPosition.Right">
                            <MatButton Style="color: black;"
                                       RefBack="@context"
                                       Link="/contacts">
                                Контакты
                            </MatButton>
                        </MatTooltip><br />
                    </div>
                    <Divider />
                    <div class="flex-1">
                        © YLSP Team, все права защищены
                    </div>
                    <div class="flex-2">
                        <MatTooltip Tooltip="Следите за нами в инстаграме" Position="@MatTooltipPosition.Top">
                            <a href="https://www.instagram.com/ylsp_kg/" target="_blank" style="text-decoration: none">
                                <MatButton RefBack="@context">
                                    <Icon Type="instagram" Theme="outline" Style="font-size: 18px; color: #535353;" />
                                </MatButton>
                            </a>
                        </MatTooltip>
                        <MatTooltip Tooltip="Следите за нами в Facebook" Position="@MatTooltipPosition.Top">
                            <a href="https://www.facebook.com/ylsp.2020/" target="_blank" style="text-decoration: none">
                                <MatButton RefBack="@context">
                                    <Icon Type="facebook" Theme="outline" Style="font-size: 18px;  color: #535353;" />
                                </MatButton>
                            </a>
                        </MatTooltip>
                        <MatTooltip Tooltip="Следите за нами в Telegram" Position="@MatTooltipPosition.Top">
                            <a href="#" target="_blank" style="text-decoration: none">
                                <MatButton RefBack="@context">
                                    <i class="fa fa-telegram" style="font-size: 18px;  color: #535353;"></i>
                                </MatButton>
                            </a>
                        </MatTooltip>
                    </div>
                </footer>
            </MatAppBarContent>
        </MatAppBarContainer>
    </MatDrawerContent>
</MatDrawerContainer>

@code {
    private bool IsAuthenticated = false;
    private bool IsAdminOrCoordinator = false;
    public string bbDrawerClass = "";


    private void CallLogin()
    {
        var returnUrl =
              navigationManager.ToBaseRelativePath(navigationManager.Uri);
        navigationManager.NavigateTo($"/account/Login/{returnUrl}", forceLoad: false);
    }
    [CascadingParameter]
    Task<AuthenticationState> authenticationStateTask { get; set; }

    protected override async Task OnInitializedAsync()
    {
        // Uncomment to secure entire app  with no anonymous user access
        //navigationManager.NavigateTo("/account/login");

        // Set Default landing page if you want for anonymous user.
        // Authenticated users are redirected after successful login.
        //navigationManager.NavigateTo("/");

        var user = (await authenticationStateTask).User;

        if (user.Identity.IsAuthenticated)
        {
            var profile = await appState.GetUserProfile();
            IsAuthenticated = true;
            IsAdminOrCoordinator = user.IsInRole("Administrator") || user.IsInRole("Coordinator") ? true : false;
        }
    }
}
